body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ece5dd;
}

.chat-container {
  width: 360px;
  height: 600px;
  margin: 20px auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.chat-header {
  background: #075e54;
  color: white;
  padding: 15px;
  font-size: 18px;
  border-radius: 20px 20px 0 0;
}

.chat-header .sub {
  font-size: 12px;
  opacity: 0.8;
}

.chatbox {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  padding: 10px;
  margin: 5px;
  border-radius: 12px;
  font-size: 14px;
}

.user {
  background: #dcf8c6;
  align-self: flex-end;
}

.bot {
  background: #f1f1f1;
  align-self: flex-start;
}

.quick-buttons {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.quick-buttons button {
  padding: 6px 10px;
  border: none;
  background: #075e54;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}

.input-area {
  display: flex;
  border-top: 1px solid #ccc;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

button {
  background: #075e54;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 2px;
  border-radius: 8px;
}

.footer {
  text-align: center;
  font-size: 11px;
  padding: 5px;
  color: gray;
}
